{
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "__static": true
    },
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "ecmaVersion": 2017,
        "parser": "@typescript-eslint/parser"
    },
    "extends": [
        "gaoding",
        "gaoding-vue"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "no-async-promise-executor": 0,
        "@typescript-eslint/camelcase": 0,
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/no-empty-function": 0,
        "@typescript-eslint/no-use-before-define": 0,
        "import/order": 1
    },
    "overrides": [
        {
            "files": ["*.js", "*.vue"],
            "rules": {
                "@typescript-eslint/explicit-function-return-type": 0,
                "@typescript-eslint/no-var-requires": 0
            }
        }
    ]
}
