{
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "__static": true
    },
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "ecmaVersion": 2017,
        "parser": "@typescript-eslint/parser"
    },
    "extends": [
        "gaoding",
        "gaoding-vue",
        "@vue/typescript"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "no-async-promise-executor": 0,
        "@typescript-eslint/camelcase": 0,
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/no-empty-function": 0,
        "@typescript-eslint/no-use-before-define": 0,
        "import/order": 1,
        "prefer-spread": 0,
        "no-useless-call": 0
    },
    "overrides": [{
        "files": ["*.js", "*.vue"],
        "rules": {
            // "@typescript-eslint/explicit-function-return-type": 0,
            // "@typescript-eslint/no-var-requires": 0,
            "@typescript-eslint/no-unused-vars": 1,
            "no-unused-vars": 0,
            "no-undef": 0
        }
    }]
}