{
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "__static": true
    },
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "ecmaVersion": 2017,
        "parser": "@typescript-eslint/parser"
    },
    "extends": [
        "gaoding",
        "@vue/typescript",
        "plugin:vue/vue3-recommended"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "no-async-promise-executor": 0,
        "@typescript-eslint/camelcase": 0,
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/no-empty-function": 0,
        "@typescript-eslint/no-use-before-define": 0,
        "import/order": 1,
        "prefer-spread": 0,
        "no-useless-call": 0,
        "vue/html-indent": [2, 4],
        "vue/script-indent": [2, 4],
        "vue/require-default-prop": 0,
        "vue/max-attributes-per-line": [2, {
            "singleline": 4,
            "multiline": {
                "max": 1,
                "allowFirstLine": false
            }
        }],
        "vue/component-name-in-template-casing": ["error", "PascalCase", {
            "registeredComponentsOnly": false,
            "ignores": []
        }],
        "vue/singleline-html-element-content-newline": [2, {
            "ignoreWhenNoAttributes": true,
            "ignoreWhenEmpty": true,
            "ignores": ["pre", "textarea", "a", "abbr", "audio", "b", "bdi", "bdo", "canvas", "cite", "code", "data", "del", "dfn", "em", "i", "iframe", "ins", "kbd", "label", "map", "mark", "noscript", "object", "output", "picture", "q", "ruby", "s", "samp", "small", "span", "strong", "sub", "sup", "svg", "time", "u", "var", "video", "li", "router-link", "template", "button", "p", "h1", "h2", "h3", "h4", "h5", "h6"]
        }]
    },
    "overrides": [{
        "files": ["*.js", "*.vue"],
        "rules": {
            // "@typescript-eslint/explicit-function-return-type": 0,
            // "@typescript-eslint/no-var-requires": 0,
            "@typescript-eslint/no-unused-vars": 1,
            "no-unused-vars": 0,
            "no-undef": 0
        }
    }]
}