/*
 * Author: 卓文理
 * Email: zhuowenligg@gmail.com
 * Date: 2020-07-08 15:41:30
 */

@import "~normalize.css";

.container {
    display: flex;
    overflow: hidden;

    width: 100vw;
    height: 100vh;
}

.activitybar {
    border-right: 1px solid #dfdfdf;
    min-width: 100px;

    background: #f5f5f5;

    -webkit-app-region: drag;
}

.sidebar {
    border-right: 1px solid #dfdfdf;
    min-width: 200px;
}

.editor-group {
    display: flex;

    position: relative;

    flex: 1;
    flex-direction: column;

    .titlebar {
        &__title {
            font-size: 18px;

            color: #000;
        }
        &__label {
            font-size: 12px;

            color: #999;
        }
        &__inner {
            border: 0;
        }
    }

    .editor-instance {
        overflow: hidden;

        height: calc(100vh - 22px);
        .line-numbers {
            padding-left: 10px;
        }
    }
}
