/*
 * Author: 卓文理
 * Email: zhuowenligg@gmail.com
 * Date: 2020-07-08 15:41:30
 */

@import "./common/common.scss";
@import "~normalize.css";

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    display: flex;
    overflow: hidden;

    width: 100vw;
    height: 100vh;

    background: transparent;
}

.activitybar {
    border-right: 1px solid $borderColor;
    width: 100px;

    background: transparent;

    -webkit-app-region: drag;
}

.sidebar {
    display: flex;

    border-right: 1px solid $borderColor;
    width: 200px;

    background: transparent;

    flex-direction: column;
    .post {
        position: relative;

        border-left: 4px solid transparent;
        padding: 10px 20px;
        height: 60px;

        font-size: 12px;
        &.is-active {
            right: -1px;
            left: 0;
            z-index: 1;

            margin-right: -1px;
            border-color: $activeColor;

            background-color: $activeBackgroundColor;
        }
        .title {
            @include ellipsis;

            width: 100%;

            line-height: 20px;
        }
    }
}

.editor-group {
    display: flex;
    overflow: hidden;

    position: relative;

    background: $backgroundColor;

    flex: 1;
    flex-direction: column;
}
